:root {
  --light-blue: #007bff;
  --dark-blue: #011240;
  --real-blue: #1700e5;
  --light-gray: #d9d9d9;
  --blue-gray: #686978;
  --real-gray: #505356;
  --dark-gray: #2b2e30;
  --card-black: #111111;
  /* 활용은 안되지만 참조용으로 남겨둠 : --phone-width: 990px; */
}
