.comments-container {
  width: 100%;
  color: white;
}

.comments-container > div {
  margin: 0 auto;
  width: 90%;
}

.comment-box {
  padding: 1rem 2rem;
  margin: 1rem 0;
  border-bottom: 1px solid var(--real-gray);
}
.comment {
  padding: 0.5rem;
}
.comment div:first-child {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}
.comment div:first-child span {
  font-weight: bold;
}
.comment div:first-child button {
  border: none;
  background-color: inherit;
  color: white;
}
